# enter the path/name of files that should be ignored by git

# tests folder
edstem/tests/

# edstem data file
edstem/integration/storage/data.txt

# cpp executables
edstem/integration/storage/store-data

# .VSCode
.vscode/

# .env to avoid pushing our personal keys to github
.env

# .DS_Store
.DS_Store

# images
edstem/integration/avl.dot
edstem/integration/avl.png


# python script
output

# edstem_assignment_tracker.egg-info
/edstem_assignment_tracker.egg-info

# virtual environment
/venv

# dist
/dist

# manifest.in
MANIFEST.in