# enter the path/name of files that should be ignored by git

# tests folder
edstem/tests/

# edstem data file
edstem/integration/edstem-data/data.txt

# cpp executables
edstem/integration/storage/store-data

# .VSCode
.vscode/

# .env to avoid pushing our personal keys to github
.env

# .DS_Store
.DS_Store


# images
edstem/integration/edstem-data/avl.dot
edstem/integration/edstem-data/avl.png